<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<configSections>
		<section name="adeptConfiguration" type="Dell.Adept.Core.Configuration.AdeptConfiguration, Dell.Adept.Core" restartOnExternalChanges="false" requirePermission="false" />
	</configSections>
	<adeptConfiguration>
		<adeptSettings>
		</adeptSettings>
	</adeptConfiguration>-->
	<appSettings>
		<!-- Only Uncomment the browser you want your automation to use when running locally -->
    <!--<add key="WebDriver" value="Chrome" />-->
    <add key="WebDriver" value="Chrome"/>
   
    <!--<add key="ApplicationBaseUrl" value="https://productsecurity-ux-dev.ausvdc02.pcf.dell.com/support/security/us/en/19/"></add>-->
    <!--<add key="ApplicationBaseUrl" value="https://productsecurity-ux.ausmp1z1.pcf.dell.com/support/security/us/en/04/"></add>-->
    <add key="ApplicationBaseUrl" value="https://www.dell.com/support/security/en-us"></add>
    <!--<add key="ApplicationBaseUrl" value="https://productsecurity-ux.ausmp1z1.pcf.dell.com/support/security/us/en/04/"></add>-->
    <!--Reference <add key="ApplicationBaseUrl" value="https://productsecurity-ux-sit4.ausvdc02.pcf.dell.com/en-us/support/security/"></add>-->

    <add key="DownloadPath" value="C:\Downloads"></add>
    <!--<add key="WebDriver" value="Firefox" />-->
		<!--<add key="WebDriver" value="InternetExplorer"/>-->
		<!--<add key="WebDriver" value="Safari"/>-->
		<!--<add key="WebDriver" value="PhantomJS"/>-->
		<!--<add key="WebDriver" value="Edge"/>-->
		<!--<add key="WebDriver" value="PerfectoMobile"/>-->
		<!--<add key="WebDriver" value="RemoteWebDriver"/>-->
    <add key="waitElement" value="20002"/>
    <add key="timeSpan" value="9000"/>
		<!-- Maximum amount of times that a reinitialization is tried if WebDriver fails to start -->
		<add key="MaxWebDriverReInitAttempts" value="3"/>
	</appSettings>
	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true"/>
	</system.net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
