<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dell.Adept.Core" version="4.0.19.619" targetFramework="net472" />
  <package id="Dell.Adept.Testing.DataGenerators" version="4.0.19.619" targetFramework="net472" />
  <package id="Dell.Adept.UI.Web" version="4.0.19.619" targetFramework="net472" />
  <package id="Dell.Adept.WebDriver" version="4.0.19.619" targetFramework="net472" />
  <package id="FluentAssertions" version="5.9.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>